<ion-header class="ion-text-center" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-text-center">
    <h1 class="ion-text-center">Menu</h1>
    <ion-button (click)="logout()">Log-out</ion-button>
  </ion-content>
</ion-content>