<ion-header class="ion-text-center" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-text-center">
    <h1 class="ion-text-center">Sign-in</h1>
    <ion-item class="login-input">
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="login-input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button class="primary" (click)="checkCredentials()">Submit</ion-button>
    <div class="margin-top-15">
      company logo
    </div>
  </ion-content>
</ion-content>